<!-- REFERENCED FROM THE PROFESSOR AHMED'S VIDEOS -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <h1> <%- title %> </h1>
            <br>

            <table class="table table-bordered table striped table-hover">
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Locale</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Difficulty</th>
                </tr>
                <!-- REPEATING TEMPLATE -->
                <% for(let count=0; count < MonsterList.length; count++) { %> 
                  <tr>
                    <td class="text-center"> <%= MonsterList[count].name %> </td>
                    <td class="text-center"> <%= MonsterList[count].locale %> </td>
                    <td class="text-center"> <%= MonsterList[count].description %> </td>
                    <td class="text-center"> <%= MonsterList[count].difficulty %> </td>
                  </tr>  
                <% } %>

            </table>

        </div>
    </div>
  </div>
</div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>